/* Add CSS Styling */
.odd {
    background-color: #f54865 ;
    font: Verdana, dejavu sans, sans-serif;
}

#even1 {
    color: rgb(0, 0, 240);
    font-size: 36px
}

.cool {
    font-size: 24px
}

#even2 {
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(20, 255, 30)
}