body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  font-size: 16px;
  padding: 2px;
  padding-top: 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container {
  text-align: center;
  padding: 8px;
  background: #e3f4ff;
  margin: 10px;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  padding: 10px 20px;
  margin: 0px auto;
}